.body{
  background-color: #2b867b;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  margin-top: 90px;
}
.form {
  position: relative;
  background: #48c9b0;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius:20px;
}
.form input {
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius:10px;
}
.form button {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  background: #17a589;
  width: 100%;
  border: 0;
  border-radius:30px;
  margin: 0px 0px 8px;
  padding: 15px;
  color: white;
  cursor: pointer;
}
.form button:hover {
  background: #148f77;
}