 body {
     font-family: "Inconsolata";
 }
 ul {
     padding-left: 24px;
 }
 .row {
     margin: 50px 0px;
     display: flex;
     flex-direction: row;
     margin-left: auto;
     margin-right: auto;
     width: 80%;
 }
 .main-title {
     font-family: 'Space Mono';
     font-style: normal;
     font-weight: 700;
     font-size: 64px;
     line-height: 95px;
     letter-spacing: -0.035em;
     color: #333333;
 }
 .title {
     font-family: 'Inconsolata';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 25px;
     text-transform: uppercase;
     margin: 10px 30px;
     color: #333333;
 }
 img {
     width: 60%;
     max-width: 500px;
     margin-right: 20px;
     margin-left: 20px;
     object-fit: contain;
 }
 p {
     font-family: 'Space Mono';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 36px;
     letter-spacing: -0.03em;
     color: #4F4F4F;
 }
 button.btn {
     font-family: Space Mono;
     font-size: 14px;
     font-weight: 600;
     line-height: 21px;
     letter-spacing: -0.035em;
     text-align: left;
     background: #333333;
     color: #fff;
     padding: 24px 43px;
     cursor: pointer;
     display: inline-block;
     margin-top: 40px;
     margin-bottom: 20px;
 }
 button.btn:hover {
     background-color: white;
     color: black;
     transition: all 0.4s;
 }